*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width: 990px) {
    /* latest  */
    .latestCardWrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    /* navbar  */
    .navCollaction{
        display: none;
    }

    /* shopCards */
    .shopCardWrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
        /* navbar  */
        .navCollaction{
            display: none;
        }
        .navRightItem1{
            display: none;
        }
        
        /* hero  */
        .hero{
            background: url("../images/mobileHeroBack.png") no-repeat center/cover;
        }
        .heroWrapper{
            text-align: center;
        }
        .heroWrapper h1{
            margin-top: 430px;
            font-size: 40px;
        }
        .heroWrapper p{
            margin-top: 18px;
            font-size: 16px;
        }
        .heroWrapper button{
            margin: 16px auto 0;
        }

    /* shopCards */
    .shopCardsTitle{
        margin-top: 40px;
        font-size: 34px;
        line-height: 1.1;
        font-weight: 500;
    }
    .shopCardWrapper{
        margin-top: 28px;
    }
    .shopCardWrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 8px;
        margin-bottom: 40px;
    }

    /* collaction  */
    .collactionWrapper{

    }
    .collactionTitle{
        margin-top: 40px;
        text-align: center;
        font-size: 34px;
    }

    /* latest  */
    .latestTitle{
        max-width: 13px;
        width: 100%;
        font-size: 34px;
    }
    .latestBtn{
        transform: translateY(25px);
        position: relative;
        gap: 4px;
    }
    .latestBtn span{
        font-size: 14px;
    }
.latestCardWrapper{
    grid-template-columns: 1fr;
}
.latestcardBody p{
    margin-top: 16px;
    font-size: 16px;
}
    .latestCardBtn span{
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    /* adsheader  */
    .adsheader p{
        font-size: 12px;
    }
    .adsheader .adsBtn{
        display: none;
    }
}