*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width:1920px) {
    .lineFtr2{
        display: none;
    }
}
@media (max-width: 990px) {
    /* latest  */
    .latestCardWrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    /* footer  */
    .lineFtr2{
        display: none;
    }
    /* collaction  */
    .collactionTitle{
        margin: 0 auto;
    }
    .collactioncardWrapper{
        margin-top: 48px;
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 28px;
    }
    .collactioncard:nth-child(1){
        grid-column: auto;
        grid-row:  auto;
    }
    .collactioncard:nth-child(2){
        grid-column: auto;
    }
}

@media (max-width: 750px) {
    /* navbar  */
    .navCollaction{
        display: none;
    }

    /* shopCards */
    .shopCardWrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    /* newspeed  */
    .newspeedimages{
        grid-template-columns: repeat(3, 1fr);
    }

    /* footer  */
    .footerWrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .lineFtr{
        display: none;
    }
    .lineFtr2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
        /* navbar  */
        .navCollaction{
            display: none;
        }
        .navRightItem1{
            display: none;
        }
        
        /* hero  */
        .hero{
            background: url("../images/mobileHeroBack.png") no-repeat center/cover;
        }
        
        .heroWrapper{
            text-align: center;
        }
        .heroWrapper h1{
            margin-top: 430px;
            font-size: 40px;
        }
        .heroWrapper p{
            margin-top: 18px;
            font-size: 16px;
        }
        .heroWrapper button{
            margin: 16px auto 0;
        }

    /* shopCards */
    .shopCardsTitle{
        margin-top: 40px;
        font-size: 34px;
        line-height: 1.1;
        font-weight: 500;
    }
    .shopCardWrapper{
        margin-top: 28px;
    }
    .shopCardWrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 8px;
        margin-bottom: 40px;
    }

    /* collaction  */
    .collactionWrapper{

    }
    .collactionTitle{
        margin-top: 40px;
        font-size: 34px;
    }

    /* latest  */
    .latestTitle{
        max-width: 13px;
        width: 100%;
        font-size: 34px;
    }
    .latestBtn{
        transform: translateY(25px);
        position: relative;
        gap: 4px;
    }
    .latestBtn span{
        font-size: 14px;
    }
.latestCardWrapper{
    grid-template-columns: 1fr;
    margin-bottom: 40px;
}
.latestcardBody p{
    margin-top: 16px;
    font-size: 16px;
}
    .latestCardBtn span{
        font-size: 14px;
    }
    
    /* join  */
    .joinWrapper{
        padding: 95px 0 95px;
    }
    .joinTitle{
        max-width: 312px;
        width: 100%;
        font-size: 28px;
    }
    .joinText{
        max-width: 311px;
        width: 100%;
        font-size: 14px;
    }
    .joinInput{
        max-width: 311px;
        width: 100%;
    }

    /* newspeed  */
    .newspeedimages{
        grid-template-columns: repeat(2, 1fr);
    }

    /* footer  */
    .footerWrapper{
        grid-template-columns: 1fr;
    }
    .footerItems:nth-child(1){
        border-bottom: 1px solid #ddd;
    }
    .footerItems:nth-child(2){
        border-bottom: 1px solid #ddd;
    }
    .footerItems:nth-child(3){
        border-bottom: 1px solid #ddd;
    }
    .lineFtr2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* collaction  */
    .collactionTitle{
        max-width: 270px;
        width: 100%;
        font-size: 34px;
    }
    .collactioncardWrapper{
        margin-top: 18px;
    }
    .cardInDesc{
        left: 32px;
        bottom: 32px;
    }
    .cardInDesc p{
        font-size: 28px;
    margin-bottom: 8px;
    }
    .cardInDesc button{
        font-size: 14px;
    }

}
@media (max-width: 400px) {
    /* adsheader  */
    .adsheader p{
        font-size: 12px;
    }
    .adsheader .adsBtn{
        display: none;
    }
}